*.swp
.DS_Store
._*
._README.rst
/applications/hierarchical/data/
/applications/hierarchical/results/
/data/
/epidemics/data/cache
/epidemics/data/downloads
_*.generated.cpp
__pycache__
build
covid19_cases_switzerland_openzh.csv
/applications/gui_paper/data/
/applications/rnns/results/
